<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Phone Card</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Thông tin chi tiết giao dịch</h2>
      <p>icon</p>
      <p>Loại giao dịch: <%= history.type%></p>
      <p>Từ: <%= history.from%></p>
      <p>Đến: <%= history.to%></p>
      <p>Phí: <%= history.fee%></p>
      <p>Tiền giao dịch(Đã trừ phí):</p>
      <p class="totalBill"><%= h.add_money %>,<%= h.sub_money %>,<%= h.fee %></p>
      <p>Số dư sau khi giao dịch</p>
      <p>Nội dung:</p>
      <p>Trạng thái:</p>
      <p>Ngày tạo</p>
    </div>
  </body>
  <script src="/javascripts/main.js"></script>
</html>
