<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Xác nhận Chuyển tiền</h2>
      <form action="/wallet/transfer-confirm" method="POST">
        <p>Thông tin chuyển tiền</p>
        <div class="form-group">
          <label>Tên người nhận</label>
          <p><%= userReceive.name%></p>
        </div>
        <div class="form-group">
          <label>Số điện thoại</label>
          <p><%= userReceive.phone%></p>
          <input type="hidden" name="phone" value="<%= userReceive.phone%>"/>
        </div>
        <div class="form-group">
          <label>Tiền chuyển</label>
          <p><%= money_transfer%></p>
          <input type="hidden" name="money_transfer" value="<%= money_transfer%>"/>
        <div class="form-group">
          <label>Ghi chú</label>
          <p><%= notes%></p>
          <input type="hidden" name="notes" value="<%= notes%>"/>
        </div>
        <div class="form-group">
          <label>Phí</label>
          <p><%= fee %></p>
          <input type="hidden" name="fee" value="<%= fee%>"/>
        </div>
        <div class="form-group">
          <label for="person_pay">Chọn người trả:</label>
          <select id="person_pay" name="person_pay">
            <option value="me">Tôi </option>
            <option value="userReceive">Người nhận</option>
          
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Xác nhận</button>
      </form>
      <form action="/transfer" method="GET">
        <button type="submit" class="btn btn-danger">Hủy</button>
      </form>
    </div>
  </body>
</html>


